/*GERAL*/

/* Reset geral de margens, paddings e configurações básicas */
*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

/* Estilo para títulos h1, h2 e h3 */
h1, h2, h3 {
    color: #333;
}

/* Estilo para parágrafos */
p {
    color: #70747a;
}

/*navbar*/

/* Container da barra de navegação */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

/* Estilo para o elemento nav */
nav {
    position: relative;
}

/* Estilo para o logo */
.logo {
    width: 60px;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* Lista de itens da navegação */
.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

/* Itens individuais da lista de navegação */
.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

/* Links na navegação */
.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

/* Efeito hover nos links da navegação */
.navbar-items a:hover {
    color: #ccc;
}

/* Botão padrão */
.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
}

/* Efeito hover no botão padrão */
.navbar-items .default-btn:hover {
    background-color: #22bb5f;
    color: #fff;
}

/* Banner principal */
.main-banner {
    background-image: url('../img/mainbanner.png');
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

/* Estilos para texto no banner principal */
.main-banner h1, .main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

/* Tamanho da fonte do h1 no banner */
.main-banner h1 {
    font-size: 54px;
}

/* Tamanho da fonte do p no banner */
.main-banner p {
    font-size: 32px;
}

/* Container da seção de serviços */
.services-container {
    padding: 5rem 0;
}

/* Lista de serviços em flexbox */
.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

/* Itens individuais da lista de serviços */
.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

/* Estilo geral para ícones Font Awesome */
.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

/* Cor do ícone de segurança */
.fa-shield-alt {
    color: #2cc76a;
}

/* Cor do ícone de performance */
.fa-rocket {
    color: #ef3f29;
}

/* Cor do ícone de suporte */
.fa-comments {
    color: #ef8f29;
}

/* Margem inferior para títulos h3 nos serviços */
.services-container h3 {
    margin-bottom: 25px;
}

/* Altura da linha para parágrafos nos serviços */
.services-container p {
    line-height: 24px;
}

/*price*/
.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
    border: 2px solid #22bb5f;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc76a;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended {
    background-color: #f45c57;
}

/*search*/
.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;

}